<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
 </head>

 <body>

</h3>Hi</h3> 
<p>You are invited to tiskus</p> 
<p>From party goers to movie buffs, art connoisseurs to celeb watchers, comic book fans to cricket enthusiasts. Meet people just like you! With Tiskus, it’s easy and quick! Speak your heart out without revealing your real self.
Fun filled things you can do:<br> 

	<ul>
		<li>Meet like minds
<li>	Make Friends
<li>	Share your interests
<li>	Browse and participate in groups
<li>	Earn Tisks
<li>	Get Rewards
	</ul>
<p>It all starts by selecting a user name and creating an avatar.<br>
Over 10,000 people are waiting for you to get started, so start wining with friends!<br>
<br>Find us on Facebook <br>                Follow us on Twitter </p>
Tiskus Team
</body>
</html>
 </body>
</html>
