<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Emailer Login</title>



<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link rel="stylesheet" href="css/style.css">
<!--<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">-->
<!--<link href="js/google-code-prettify/prettify.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/bootstrap.css">

 
<script src="js/jquery-1.9.1.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="js/document-init.js"></script>
<script src="js/dynamic-html.js"></script>
-->
<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/jquery.tabs.js"></script>-->

</head>

<body>

<div class="emailer_body">
	<div class="emailer_logo"><img src="http://54.179.131.94/fonetwish_web/images/logo.png"/></div>
    <div class="emailer_content">
    	<div class="hello">Hello <span><strong>${firstName}</strong></span></div>
        <p>You recently asked us to reset your login password. You can reset the  password by visiting the following link:</p>
    	<p><a href="${activationLink}" class="reset_password_url">${activationLink}</a></p>
        <p>This process is designed to ensure the privacy and security of your account information. If you have further questions, please contact <a href="mailto:support@fonetwish.com">support@fonetwish.com</a></p>
        <p>Thank you</p>
        <p>Fonetwish Team<br><a href="http://www.fonetwish.com">http://www.fonetwish.com/</a></p>
    	
    </div>
	
</div>



</body>
</html>
