<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
 </head>

 <body>

</h3>Hi ${firstName}!</h3> 
<br>
<br>


Your ticket id ${ticketId} , with description ${ticketTitle} is updated by the administrator.

Regards
Fonetwish Team
</body>
</html>
 </body>
</html>
