<div class="row live-products">
	<h2>Live Products for Auction</h2>
	<div>
		<!-- ng-repeat="product in liveAuction" -->
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
	</div>
</div>

<div class="row coming-soon-products">
	<h2>Products Coming Soon</h2>
	<div>
		<!-- ng-repeat="product in liveAuction" -->
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
	</div>
</div>

<div class="row auction-results">
	<h2>Auction Results</h2>
	<div>
		<!-- ng-repeat="product in liveAuction" -->
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
		<div>
			<img alt="Product Image" src="">
			<h3>{{Product Name}}</h3>
			<p>{{Product Description}}</p>
		</div>
	</div>
</div>